@model AviaCo.Models.CHARTER

@{
    ViewData["Title"] = "Charter Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>CHARTER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CHAR_DATE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CHAR_DATE)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.AC_NUMBER)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AC_NUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHAR_DESTINATION)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CHAR_DESTINATION)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CHAR_DISTANCE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CHAR_DISTANCE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CHAR_FUEL_GALLONS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CHAR_FUEL_GALLONS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CHAR_HOURS_FLOWN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CHAR_HOURS_FLOWN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CHAR_HOURS_WAIT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CHAR_HOURS_WAIT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CHAR_OIL_QTS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CHAR_OIL_QTS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUS_CODE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CUS_CODE)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.CHAR_TRIP">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
