@model IEnumerable<Aviaco_V2.Models.AIRCRAFT>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AC_TTAF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AC_TTEL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AC_TTER)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AC_TTAF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AC_TTEL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AC_TTER)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.AC_NUMBER">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.AC_NUMBER">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.AC_NUMBER">Delete</a>
        </td>
    </tr>
}
</table>
